# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea
.editorconfig
.htaccess
.gitattributes
.idea/modules.xml
.idea/untitled.iml
.idea/workspace.xml
